.visually-hidden {
    position: absolute; /* элемент вырывают из потока */
    width: 1px; /* делают элемент очень маленьким, но таким, чтобы не пропал совсем */
    height: 1px;
    margin: -1px; /* элемент убирают из поля зрения, сдвинув на размер самого себя */
    padding: 0; /* обнуляют отступы, они есть у некоторых элементов по умолчанию */
    border: 0; /* убирают границу, она тоже может быть у каких-то элементов */
    clip: rect(0 0 0 0); /* это свойство обрезает видимую область до нулевого значения */
    overflow: hidden; /* на всякий случай скрывают видимое за пределами блока */
  } 

  .visually-hidden {
    clip: rect(0 0 0 0);
  clip-path: inset(50%);
    width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
} 


/* способы скрытия элемента убирают его из дерева доступности. В коде это выглядит так: */

  <button hidden>Кнопка Шрёдингера</button> /* правление свойством display и атрибутом hidden скрывает элемент не только из дерева доступности, но и из потока элементов на странице. */

  .hidden-block { /* правление свойством display и атрибутом hidden скрывает элемент не только из дерева доступности, но и из потока элементов на странице. */
    display: none;
}

.another-hidden-block { /* В то же время, управляя свойством visibility, можно скрыть элемент визуально и убрать его из дерева доступности, но сохранить в потоке элементов. */
    visibility: hidden; 
} 