/*Приём 1: Добавляем макет в разметку
Можно прямо в разметке разместить тег <img> с картинкой макета и добавить ему следующие стили:*/

.pixel-perfect-image {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
      filter: sepia(0.6);
  } 