/* Функция calc() */


.Для управления размерами блоков 

.banner {
    width: 360px;
}

.content {    /* ширина экрана за вычетом ширины баннера */
    width: calc(100% - 360px);
} 


.Для создания динамической типографики

.text {
    font-size: calc(100vw / 50);
    line-height: calc(100vw / 50 + 0.5rem);
}


/* Функции расчётов min(), max(), clamp() */


1. min() и max()

стандартная запись: 

.element {
    width: 100%;
    max-width: 320px;
}

запись min(): 

.element {
    width: min(100%, 320px);
}

Функции min() и max() можно применить не только к размерам блока. Можно задать размер шрифта, высоту строки, отступы и даже размер фона. 

margin-top:  min(5vh, 2.5rem); - отступ блока


2. clamp() - соединяет в себе функции min() и max(), отлично подходит для того, чтобы задавать размеры шрифта, адаптирующиеся к изменению размера экрана.

Первым пишется минимальное значение, вторым — рекомендованное и третьим — максимальное. 

h1 {
    font-size: clamp(18px, 2.2vw, 3.6rem);
}


.Давайте с помощью clamp() сделаем адаптивные gap в грид-сетке. Пропишите gap так, чтобы он был 2vw, но не меньше 1rem и не больше 30рх.

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: clamp(1rem, 2vw, 30px);
    margin: 40px auto;
    padding: 0;
    list-style: none;
  }




/* Это ещё не все возможности логических функций */ 

Их можно смешивать в одном выражении.
Вы можете написать: font-size: max(min(0.5vw, 1.2em), 2rem).