Для анимации SVG нам понадобится два специфических свойства:

stroke-dasharray - позволяет разделить линию обводки на отрезки. 
Длина этих отрезков будет равняться числу, указанному в этом свойстве. Задают эти значения целыми числами. Чем больше число — тем длиннее отрезок пунктира. 


✏️ Пример написания: 

svg {
    width: 50%;
  }
  
  svg path {
    --dasharray: 0;
  
    stroke: white;
    stroke-dasharray: var(--dasharray);
}



stroke-dashoffset - позволяет двигать пунктир вдоль направления, определённого в path. Чем больше целое число, тем сильнее сдвигается пунктир. 

✏️ Пример написания: 


svg path {
    --dasharray: 5;
    --dashoffset: 0;
  
    stroke: white;
    stroke-dasharray: var(--dasharray);
    stroke-dashoffset: var(--dashoffset);
}
  

❗❗❗ Разобравшись с этим принципом, можно использовать трюк: сделать отрезок достаточно большим, чтобы он заполнил всю линию вектора, и добавить такой сдвиг, чтобы этот отрезок пропал из поля видимости. А потом через @keyframes постепенно пододвигайте этот отрезок к начальному состоянию сдвига. Получится эффект, будто контур постепенно заполняется заливкой.
Такой трюк сработает только с картинками, состоящими из обводки (stroke). 
Если в SVG есть заливка — fill — то можно анимировать смену цвета или его проявление, как будто это свойства color или backgorund-c