
🔶В директиве @keyframes -  задаются ключевые  кадры анимации.

✏️ Пример написания: 

@keyframes loading {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 360deg;
    }
}

.loading - Название набора кадров.Может быть любым.

❗ Каждый кадр должен быть привязан к какому-то моменту анимации, если взять всю её целиком за 100%:
❗Начальный кадр в 0% и конечный в 100%. Вместо процентов начальную и конечную точки можно описать ключевыми словами from и to.



✏️ Пример написания: 

.frog {
    position: relative;
    border-top-left-radius: 125px;
    border-top-right-radius: 125px;
    animation: rainbow 10s linear infinite; /* Описание анимации */
    inline-size: 250px;
    aspect-ratio: 1/1; /* Лайфак - сделать ровный квадрат размера задонного  inline-size: */
}


@keyframes rainbow { /* Кадры анимации */
    from {
      background-color: crimson;
    }
  
    16.6% {
      background-color: orangered;
    }
  
    33.2% {
      background-color: gold;
    }
    
     49.8% {
      background-color: forestgreen;
    }
    
     66.4% {
      background-color: cyan;
    }
    
     83% {
      background-color: mediumblue;
    }
      
    to {
      background-color: blueviolet;
    }
}

