✅ 
/* Градиент  */
🔶Градиент — плавный переход цвета между цветами.

❗В CSS любой градиент описывают значением свойства background-image. 


✅ 
/* Конические градиент */

🔶Представьте, что поле — это циферблат. «Отсчёт» начинается с того цвета, который указан в скобках первым. В нашем случае это голубой цвет. Двигаясь по направлению часовой стрелки, цвет сменяется вторым — розовым. В районе 12 часов градиент переходит в чистый розовый цвет, и появляется чёткая граница.

✏️ Пример написания:

div {
    background-image: conic-gradient(#6dc1fd, #feafe8);
}

❗Как и в других видах градиента, можно указать любое количество цветов в любом цветовом формате: HEX, rgba, hsl и так далее. ❗Если просто указать несколько цветов через запятую, то они равномерно распределятся по кругу, переходя один в другой.
❗Чтобы сделать переходы цветов плавными, без чёткой границы, нужно начать и закончить градиент одним и тем же цветом. 


✅ 
/* Начальный угол и положение центра */

❗По умолчанию градиент начинается и заканчивается линией вверху.
❗Начало градиента можно сместить, используя ключевое слово from.
❗Смещение указывается в градусах — deg, градах — grad или радианах — rad количестве оборотов turn, или в процентах %, после него нужна запятая.  

✏️ Пример написания:

div {
    background-image: conic-gradient(from -45deg, #ffc802 25%, #6dc1fd 50%, #80d994 75%);
    inline-size: 100%;
    block-size: 100%;
}

❗Центр градиента тоже можно сместить относительно центра контейнера. 
❗Делается это с помощью ключевого слова at.
❗Координаты нового центра указывают в процентах или ключевых словах top, right, bottom, left и их сочетаний. Например: at 20% 10% или at bottom right.
❗Если вы используете одновременно смещение начальной линии (from) и смещение центра (at), то запятую между ними ставить не нужно. Например: background-image: conic-gradient(from 45deg at left, red, blue, green);

✅ 
/* Точки остановки цвета */
❗Переходом цветов можно управлять. 
❗Как и в линейном градиенте, здесь прописывают точки остановки цвета. Например conic-gradient(#ffc802 25%, #6dc1fd 50%, #80d994 75%).
❗Если указана одна точка остановки, например, #ffc802 25%, то это значит, что середина цвета будет приходиться на 25%, а края цвета — смешиваться с соседними цветами.
❗То же самое можно прописать в градусах (deg):
conic-gradient(#ffc802 90deg, #6dc1fd 180deg, #80d994 270deg).

❗Можно сделать резкие переходы цветов, без смешивания. м
Для каждого цвета нужно задать по две точки: границу их начала и конца, а следующий цвет должен начинаться с той же точки, на которой остановился предыдущий. Например: #ffc802 25%, #6dc1fd 25% 70%, #80d994 75%.