✅ 
/* Градиент  */
🔶Градиент — плавный переход цвета между цветами.

❗В CSS любой градиент описывают значением свойства background-image. 


✅ 
/* Линейный градиент */
🔶Линейный градиент — это переход цвета вдоль прямой линии.

❗Линейный градиент записывается как значение linear-gradient() для background-image. 

✏️ Пример написания:

div {
    background-image: linear-gradient(#0078FF, #C2E3E3);
}

❗В самом простом случае в скобках указывают два цвета — начальный и конечный.
❗Браузер сделает между ними плавный переход.
❗Цвета можно задавать в любых форматах: HEX, RGBA, HSL и так далее.


✅
/* Направление градиента */
❗По умолчанию браузер отрисовывает линейный градиент сверху вниз. 
❗Направление можно изменить. Один из вариантов — задать поворот градиента в градусах deg, градах grad, радианах rad или количестве оборотов turn. Направления записываются перед цветами. 

✏️ Пример написания:

div {
    background-image: linear-gradient(150deg, #0078FF, #53F675);
}

❗Градусы можно заменить на специальные ключевые слова. Но они существуют только для нескольких направлений: to left, to top, to right, to bottom. 
❗Направления можно сочетать, например, для того, чтобы направить градиент в верхний левый угол, нужно написать: to top left.

✏️ Пример написания:

background-image: linear-gradient(to top, #0B2337, #126DDC);


❗Чтобы сделать более сложные и интересные градиенты, используют несколько цветов. Их количество ограничено только фантазией.

✏️ Пример написания:

div {
    background-image: linear-gradient(#0B2337, #126DDC, #76C2E0, #D1DC9D, #F09D0C, #900020);
}


✅
/* Точки остановки цвета градиента */

🔶После значения цвета, через пробел, можно задать начальную и конечную точки цвета. В начальной точке заканчивается переход из предыдущего цвета. С конечной точки начинается переход в следующий цвет.

✏️ Пример написания:

div {
    background-image: linear-gradient(#80d994 0px 80px, #6dc1fd 120px 180px, #5f0dee 220px 300px);
}


background-image: 
linear-gradient(
    to top,
    rgb(0 0 0 / 1),
    rgb(0 0 0 / 0.6) 30%,
    rgb(0 0 0 / 0) 40%,
    rgb(0 0 0 / 0) 100%
);

  или

background-image:
  linear-gradient(
    #80d994 0 80px,
    #6dc1fd 120px 180px,
    #5f0dee 220px 300px
);

❗Если конечная точка предыдущего цвета и начальная точка следующего совпадают, то переход будет не постепенный, а резкий, в виде чёткой линии:


✏️ Пример написания:

div {
    background-image: linear-gradient(#F498AD 100px, #ffc802 100px 180px, #6dc1fd 220px);
}


✅
/* Градиент с прозрачностью */

❗❗❗Есть баг в Safari и iOS. Почти во всех браузерах градиент будет плавно уходить в прозрачность. А в Safari и iOS из-за особенностей обработки ключевого слова transparent он уйдёт в грязно-чёрный цвет.❗❗❗

❗❗❗Решить эту проблему довольно просто. Нужно вместо ключевого слова transparent указать предыдущий цвет градиента, но с нулевой прозрачностью:❗❗❗

✏️ Пример написания:

.element {
    background: linear-gradient(#F498AD 10%, rgb(244 152 173 / 0));
}









1️⃣ 2️⃣ 3️⃣ 4️⃣ 5️⃣ 6️⃣ 7️⃣ 8️⃣ 9️⃣ 🔟 🔢 0️⃣ #️⃣ 🔣 ◀️ ⬇️ ▶️ ⬅️ 🔠 🔡 🔤 ↙️ ↘️ ➡️➡️ ⬆️ ↖️ ↗️ ⏬ ⏫ 🔽 ⤵️ ⤴️ ↩️ ↪️ ↔️ ↕️ 🔼 🔃 🔄 ⏪ ⏩ ℹ️ 🆗 🔀 🔁 🔂 🆕 🔝 🆙 🆒 🆓 🆖 🎦 🈁 📶 🈹 🈴 🈺 🈯 🈷️ 🈶 🈵 🈚 🈸 🈳 🈲 🈂️ 🚻 🚹 🚺 🚼 🚭 🅿️ ♿ 🚇 🛄 🉑 🚾 🚰 🚮 ㊙️ ㊗️ Ⓜ️ 🛂 🛅 🛃 🉐 🆑 🆘 🆔 🚫 🔞 📵 🚯 🚱 🚳 🚷 🚸 ⛔ ✳️ ❇️ ✴️ 💟 🆚 📳 📴 💹 💱 ♈ ♉ ♊ ♋ ♌ ♍ ♎ ♏ ♐ ♑ ♒ ♓ ⛎ 🔯 ❎ 🅰️ 🅱️ 🆎 🅾️ 💠 ♻️ 🔚 🔙 🔛 🔜 🕐 🕜 🕙 🕥 🕚 🕦 🕛 🕧 🕑 🕝 🕒 🕞 🕓 🕟 🕔 🕠 🕕 🕡 🕖 🕢 🕗 🕣 🕘 🕤 💲 ©️ ®️ ™️ ❌ ❗❗ ‼️ ⁉️ ⭕ ✖️ ➕ ➖ ➗ 💮 💯 ✔️ ☑️ 🔘 🔗 ➰ 〰️ 〽️ 🔱 ▪️ ▫️ ◾ ◽ ◼️ ◻️ ⬛ ⬜ ✅ 🔲 🔳 ⚫ ⚪ 🔴 🔵 🔷 🔶 🔹 🔸 🔺 🔻
✏️ Пример написания: