✅ 
/* Градиент  */
🔶Градиент — плавный переход цвета между цветами.

❗В CSS любой градиент описывают значением свойства background-image. 


✅ 
/* Радиальный градиент */
🔶 В радиальном градиенте изменения цвета расходятся от заданного центра, как круги на воде, а сам градиент может принимать форму круга или эллипса.

❗Самый простой радиальный градиент задаётся двумя цветами с помощью значения  radial-gradient() :

✏️ Пример написания:

div {
    background-image: radial-gradient(#feafe8, #c2e3e3);
}

❗По умолчанию радиальный градиент — это эллипс, который заполняет собой всю площадь элемента. 
❗Форму круга градиенту можно задать с помощью ключевого слова circle: 

✏️ Пример написания:

div {
    background-image: radial-gradient(circle, #feafe8, #c2e3e3);
}


✅ 
/* Центр градиента */

❗По умолчанию центр градиента находится в середине блока, но его можно сместить, задав позицию ключевым словом at. После него указывают новую точку для центра. 

✏️ Пример написания:

div {
    width: 300px;
    height: 300px;
    background-image: radial-gradient(at 40px 50px, #001ae3, #1aff00);
}

❗В радиальном градиенте, как и в линейном, можно задавать центр с помощью ключевых слов. 
❗Перед ними нужно указать слово at: at top, at right, at bottom, at left. 
❗Значение по умолчанию — at center. 
❗Ключевые слова можно сочетать, например: at right top — центр расположится в верхнем правом углу.

✏️ Пример написания:

radial-gradient( circle at top left, green 20%, yellow 50%, red 100% );


✅ 
/* Точки остановки цвета */

❗В радиальном градиенте, как и в линейном, можно определять несколько цветов и точки остановки в процентах:

✏️ Пример написания:

background-image:
radial-gradient(
  purple 0 50px,
  violet 50px 100px,
  red 100px 160px,
  orange 160px 200px,
  yellow 200px 260px
);


✅ 
/* Размер градиента */

❗Если задать ширину и высоту как параметры, в скобках, то эллипс растянется или сожмётся.
❗Если первый параметр больше, то эллипс растянется.

div {
    width: 300px;
    height: 300px;
    background-image: radial-gradient(150px 30px, #0078FF, #53F675);
  }
❗А если меньше, то сожмётся.

div {
    width: 300px;
    height: 300px;
    background-image: radial-gradient(30px 150px, #0078FF, #53F675);
}

❗Также размер можно задать с помощью ключевых слов. 

closest-side — градиент заканчивается у ближайшей к его центру границы элемента;
farthest-side — градиент заканчивается у самой удалённой от его центра границы элемента;
closest-corner — край градиента проходит через ближайший к его центру угол;
farthest-corner — край градиента проходит через самый удалённый от его центра угол.

❗❗❗Если вы используете смещение центра с ключевым словом at и указываете размер градиента, то запятую между ними ставить не нужно:❗❗❗

✏️ Пример написания:

background-image: radial-gradient(farthest-side at 20% 20%, blue, violet, red, yellow);