🔶  Маска накладывается поверх картинки так, что картинка видна только внутри заданной нами формы. Остальное обрезается, остаётся за кадром.

❗ Чтобы сделать маску, нам понадобится картинка, вставленная в HTML тегом <img>.
❗Важно, чтобы картинка была задана не фоном. Иначе приём не сработает.
❗Сбросить стили маски перед началом работы  - mask: none;

✏️ Пример написания:

.Вставляем картинку в разметку Через <img>.

<img
class="hero-image"
src="https://picsum.practicum-team.ru/random-image?width=800&grayscale"
alt="Случайная картинка."
/>

.Добавляем эфект маски через CSS

.hero-image {
    width: 250px;
    height: 250px;
    -webkit-mask-image: url(../svg/mask.svg);
    mask-image: url(../svg/mask.svg);
}


/* Свойства маски */
mask-image - Задает источник изображения маски
mask-mode - Устанавливает режим маскирования изображения маски.
mask-origin
mask-position - Задает положение изображения маски.
mask-repeat - Задает повторение изображения маски.
mask-size - Задает размер изображения маски.
mmask-clip - Задает область, на которую влияет изображение маски. 
mask-composite - Задаёт операцию наложения, используемую для текущего слоя маски.










1️⃣ 2️⃣ 3️⃣ 4️⃣ 5️⃣ 6️⃣ 7️⃣ 8️⃣ 9️⃣ 🔟 🔢 0️⃣ #️⃣ 🔣 ◀️ ⬇️ ▶️ ⬅️ 🔠 🔡 🔤 ↙️ ↘️ ➡️➡️ ⬆️ ↖️ ↗️ ⏬ ⏫ 🔽 ⤵️ ⤴️ ↩️ ↪️ ↔️ ↕️ 🔼 🔃 🔄 ⏪ ⏩ ℹ️ 🆗 🔀 🔁 🔂 🆕 🔝 🆙 🆒 🆓 🆖 🎦 🈁 📶 🈹 🈴 🈺 🈯 🈷️ 🈶 🈵 🈚 🈸 🈳 🈲 🈂️ 🚻 🚹 🚺 🚼 🚭 🅿️ ♿ 🚇 🛄 🉑 🚾 🚰 🚮 ㊙️ ㊗️ Ⓜ️ 🛂 🛅 🛃 🉐 🆑 🆘 🆔 🚫 🔞 📵 🚯 🚱 🚳 🚷 🚸 ⛔ ✳️ ❇️ ✴️ 💟 🆚 📳 📴 💹 💱 ♈ ♉ ♊ ♋ ♌ ♍ ♎ ♏ ♐ ♑ ♒ ♓ ⛎ 🔯 ❎ 🅰️ 🅱️ 🆎 🅾️ 💠 ♻️ 🔚 🔙 🔛 🔜 🕐 🕜 🕙 🕥 🕚 🕦 🕛 🕧 🕑 🕝 🕒 🕞 🕓 🕟 🕔 🕠 🕕 🕡 🕖 🕢 🕗 🕣 🕘 🕤 💲 ©️ ®️ ™️ ❌ ❗ ‼️ ⁉️ ⭕ ✖️ ➕ ➖ ➗ 💮 💯 ✔️ ☑️ 🔘 🔗 ➰ 〰️ 〽️ 🔱 ▪️ ▫️ ◾ ◽ ◼️ ◻️ ⬛ ⬜ ✅ 🔲 🔳 ⚫ ⚪ 🔴 🔵 🔷 🔶 🔹 🔸 🔺 🔻✏️