
✅
/* Пять способов того, как вывести svg-картинку на страницу: */


➡️через тег <svg>;
➡️через тег <img>;
➡️через свойство background-image;
➡️data-формат;
➡️через тег <use>.

🔶 На заметку 🔶
-Вставляете одну картинку? Используйте <svg>.
-Картинка встречается несколько раз, но интерактив не нужен? Используйте <img> или background-image.
-Нужно иметь возможность менять свойства SVG через CSS? Используйте <use> или <svg>.

❗Не забываем оптимизировать SVG перед вставкой 


1️⃣. Через тег <svg> («вставь SVG инлайном или заинлайнь»)

➕  Это хороший способ, если вы планируете менять какие-то свойства картинки с помощью стилей.

➕Если работаете с Figma, можно даже не экспортировать иконку, не сохранять её в файл. Этот же код потом можно вставить в SVGOMG для оптимизации.

➖ HTML сильно засоряется, его сложно читать. 

➖Если SVG повторяется, то в случае каких-то изменений придётся ходить по проекту и менять картинку везде (что не очень вяжется с духом программирования).

✏️ Пример написания:

<svg width="100" height="100" viewBox="0 0 390 390" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M389 195c0 107.143-86.857 194-194 194S1 302.143 1 195 87.857 1 195 1s194 86.857 194 194Z" stroke="#000" stroke-width="2"/>
  <path d="M358 135.5c0 66.55-53.95 120.5-120.5 120.5S117 202.05 117 135.5 170.95 15 237.5 15 358 68.95 358 135.5Z" stroke="#000" stroke-width="2"/>
  <path d="M339 172c0 41.421-33.579 75-75 75s-75-33.579-75-75 33.579-75 75-75 75 33.579 75 75Z" stroke="#000" stroke-width="2"/>
  <path d="M286 180c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48Z" stroke="#000" stroke-width="2"/>
</svg> 



2️⃣. Через тег <img>

➕  Это удобный способ, если иконка или картинка встречаются на сайте один раз или больше. Ничего не нагружает HTML-разметку. 

➖ картинку нельзя изменять с помощью CSS. 

<img src="svg/like.svg" alt="Иконка лайка">


3️⃣. Через свойство background-image

➕  Разметка чистая, удобно обновлять все иконки в проекте сразу,

➖  управлять через CSS не получится. 

✏️ Пример написания:

.heart {
    background-image: url(../svg/heart.svg);
}


4️⃣. data-формат

❗Можно конвертировать SVG или любую другую картинку в так называемый data-формат. При такой конвертации вся информация из файла переводится в строку.

➕  Так обычно делают, когда скорость загрузки ресурса критична. 
.Используют, например для прелоадер на сайте, который пользователь видит, пока загружается содержимое. 

➖  такие ресурсы не кэшируются — не сохраняются в памяти браузера для дальнейшего использования. И это может пагубно сказаться на расходе трафика пользователя. 

✏️ Пример написания:

data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' 
fill='none' 
stroke='currentColor' 
stroke-linecap='round' 
stroke-linejoin='round' 
stroke-width='2' 
class='lucide lucide-heart' 
viewBox='0 0 24 24'%3E%3Cpath d='M19 14c1.49-1.46 3-3.21 
3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 
5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z'/%3E%3C/svg%3E

❗ В файле CSS вставка такой картинки будет выглядеть так (да, там длинная-длинная строка, скролльте):

.heart {
    background-image: 
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' class='lucide lucide-heart' viewBox='0 0 24 24'%3E%3Cpath d='M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z'/%3E%3C/svg%3E");
}


5️⃣. Через тег <use>

❗Важно❗ - оба <use> обёрнуты в <svg>. Иначе браузер не поймёт, о чём речь.

1.Вариант: ( Ссылаемся на картинку в других частях разметки)

➕  управлять через CSS  получится. 

➖  HTML остался перегруженным.

✏️ Пример написания:

<svg viewBox="0 0 24 24">
  <use href="#apple-1"> /* помощью символа # можно ссылаться на идентификаторы (id)  */
</svg> 

/* ↘️ этот кусок кода может быть в любой части кода и за ее пределами  */
<svg
  xmlns="http://www.w3.org/2000/svg"
>
  <symbol id="apple-1" /* в теге ➡️ symbol,  задаем идентификатор, благодаря ему мы можем ссылаться на картинку в других частях разметки.  */
    stroke="currentColor"
    fill="currentColor"
  >
    <path
      d="M12 20.94c1.5 0 2.75 …
    />
    <path d="M10 2c1 .5 2 2 2 5" />
  </symbol>
</svg>


2.Вариант:

✏️ Пример написания:

❗мы ссылаемся на картинку, лежащую в отдельном файле. Именно путь до картинки и указан перед #apple-2 в href.

<svg viewBox="0 0 24 24">
  <use href="svg/apple.svg#apple-2">
</svg>

❗ в HTML-разметке нигде нет картинки с идентификатором
❗Все иконки лежат в папке svg/, а в ней лежит файл apple.svg.
❗Нужный идентификатор располагается в <symbol>.





















