✅
/* Валидации текстовых формы */

➡️ valid- Браузер назначает  псевдокласс, если поле заполнено верно

➡️ invalid- Браузер назначает  псевдокласс, если поле заполнено не верно


🔴Добавим визуальную подсветку полям, заполненным с ошибкой. 

✏️ Пример написания:

input:invalid {
    background-color:#fd24af ;
}



✅
/* Валидации числовых формы в каком-то диапазоне.*/

Это <input> с типами:
date
month
week
time
datetime-local
number
range

❗Обязательно должны быть указаны значения для атрибутов min и max,

:in-range - псевдокласс Если введённое значение в рамках допустимого, то браузер назначает 

:out-of-rangeв - псевдокласс Если в поле вводится что-то, выходящее за пределы допустимого 

✏️ Пример написания:

input[type="number"]:out-of-range {
    background-color: #fd24af;
  }
  
  input[type="number"]:in-range {
    background-color: #80d994;
} 

❗При этом браузер не подкрашивает поле ввода в розовый, если набрать буквы, а не цифры. Чтобы отловить и этот момент, потребуется дописать правила для псевдоклассов :invalid и :valid, с которыми вы уже знакомы.