✅
/* Создаём красивые флажки */

🔶Необычные поля ввода — такие как checkbox, radio, range, <select> — словом, все те, куда нельзя ввести текст, стилизуются браузером. По умолчанию, без дополнительных стилей, они выглядят очень просто.

➡️ checkbox, radio,

Общий порядок действий:
1.пишем правильную разметку;
2.скрываем стандартный элемент;
3.рисуем на его месте новый элемент;
4.пишем сложносочинённый селектор, чтобы всё работало.

1️⃣ Пишем правильную разметку;
Вкладываем флажок внутрь <label>.
Мы будем скрывать основной <input> и рисовать на его месте новый. Принципиально важно, чтобы <label> окружал эти элементы. Мы будем активировать новый элемент по клику на подпись:

<label>
<input type="radio" name="answer">
Да
</label> 

2️⃣ скрываем стандартный элемент;

стили для скрытия любого контента:
.visually-hidden {
    clip: rect(0 0 0 0);
  clip-path: inset(50%);
    width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

3️⃣  рисуем на его месте новый элемент;
перед текстом подписи добавьте пустой <span>.

<label>
    <!-- этот элемент мы скрыли -->
    <input 
        type="checkbox" 
        name="tv-show" 
        class="visually-hidden"
    >
    <!-- этот будем стилизовать -->
    <span></span> 
    Да
</label>

✏️ Пример стилизации span 

label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    background-color: #feafe8;
}

Для радиокнопок можно дополнительно скруглить углы ::after

input[type='radio'] + span {
    border-radius: 50%;
}


🔶Состояния флажков:

.включённый и выключенный — определяется псевдоклассом disabled;
.выбранный и не выбранный — определяется псевдоклассом checked;
.в фокусе и не в фокусе — определяется псевдоклассом focus-visible.


🔴 Для чекбоксов получаются такие селекторы:

input[type="checkbox"]:disabled {} /* выключённый */
input[type="checkbox"]:checked {} /* выбранный */
input[type="checkbox"]:focus-visible {} /* в фокусе */

❗ И аналогичный набор для радиокнопок.

/* Когда будете брать в работу макет сайта и на нём есть формы с флажками — проверьте, что все эти состояния прорисованы дизайнером. Кроме этих трёх состояний, желательно, чтобы был нарисован ховер-эффект (:hover). */

🔴 Наш чекбокс скрыт, поэтому на состояние должен реагировать альтернативный элемент. Для этого потребуется очередной необычный селектор — селектор первого соседа, следующего за нашим скрытым чекбоксом. Этот сосед и станет альтернативным элементом. Селектор первого соседа определяется символом +:

input[type="checkbox"] + span {} /* для чекбокса первый сосед с именем span */


4️⃣ пишем сложносочинённый селектор, чтобы всё работало.

/* Целый набор странных селекторов для обращения по состоянию*/


🔴 для чекбокса

input[type='radio']:checked + span {
}

input[type='radio']:focus-visible + span {
}


🔴Для радиокнопки

input[type='checkbox']:checked + span {
}

input[type='checkbox']:focus-visible + span {
}


🔴Итоговая ститлизация 

input[type='radio']:checked + span {
    border: 3px solid #fff;
  }
  
  input[type='checkbox']:checked + span {
    background-image: url(./images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  input[type='radio']:focus-visible + span,
  input[type='checkbox']:focus-visible + span {
    /* Тут задаём тень для флажков в фокусе */
    box-shadow: 0 0 0 5px rgb(254 175 232 / 0.5);
  }