✅
/* поля ввода, кнопки и ярлыки */

стили заданы им по умолчанию:

➡️ Текстовые поля ввода и ярлыки - строчно-блочные элементы.
➡️Цвет, шрифт и  другие текстовые стили -  не наследуется от родителя.   Какой бы шрифт или цвет текста ни был задан форме, в полях ввода пользователь будет всё набирать стандартным для браузера шрифтом чёрного цвета. Поэтому всем полям ввода нужно задавать наследование явно. Для этого существует специальное значение inherit (унаследовать). Оно означает приказ «унаследовать от родителя»:

✏️ Пример написания:

input {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}
  
➡️Полю ввода по умолчанию задан белый фон. Если вам нужно задать другой цвет фона, используйте свойство background-color. Прозрачный фон background-color: transparent.

✏️ Пример написания:

input {
    background-color: transparent;
}

➡️К тому же полю ввода задана рамка (border). Если по дизайну рамки нет, то её можно сбросить border: none. Или задать свои стили.

➡️Обязательно проверяйте, что даже длинный текст не прилипает к полям ввода текста. Для этого можно использовать внутренние отступы.

➡️По ширине поле ввода всегда небольшое. Если хотите, чтобы оно тянулось на ширину родителя — задайте 100%.

➡️Когда пользователь выбрал поле, вокруг поля появляется рамка :focus.
Цвет обводки зависит от браузера и операционной системы. В браузере можно найти такое объявление: outline-color: -webkit-focus-ring-color;. Используйте webkit-focus-ring-color, если хотите использовать стандартный, привычный для пользователя цвет. Настраивается эта полезная опция свойствами группы outline:

✏️ Пример написания:

input:focus {
    outline-color: yellow; /* цвет обводки — жёлтый */
    outline-style: dashed;/* стиль линии — прерывистая */
    outline-width: 3px; /* толщина обводки — 3px */
}

➡️Не забываем про псевдокласс ::focus-visible, который позволяет показывать обводку вокруг полей в фокусе только при использовании клавиатуры, но не мышки:

✏️ Пример написания:

input:focus {
    outline: none;
}

input:focus-visible {
    outline: 1px solid -webkit-focus-ring-color;
    outline-offset: 0px; /* устанавливает расстояние между фактическим краем элемента и внутренним краем обводки, заданной при помощи */
}

➡️Плейсхолдеры, или подсказки. Их тоже можно стилизовать. Для этого нам понадобится псевдоэлемент ::placeholde

✏️ Пример написания:

input::placeholder {
    color: rgb(0 0 0 / 0.6); /* Меняем цвет подсказки */
}

➡️можно управлять цветом мигающего курсора в поле ввода. Для этого используют свойство caret-color.



