✅
/* Стилизуем выпадающие списки*/

🔶 Элемент, который позволяет выбрать какое-то значение из диапазона при помощи ползунка.

1️⃣ Используем свойство appearance: none в сочетании с вендорными префиксами, чтобы сбросить стандартные стили браузера.

2️⃣ Пропишем background-color: transparent, чтобы сбросить фон. Без этого в Chrome останется белая полоса.

3️⃣ Заодно зададим 100% ширины, чтобы растянуть элемент.

✏️ Пример написания:

input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
} 

❗ Теперь при помощи CSS мы можем на его месте рисовать то, что нам нужно. 


✅
/* Стилизуем ползунок */

4️⃣ Для начала стилизуем ползунок — элемент, который передвигается по полоске-направляющей.

❗ Никто не запоминает эти селекторы, если честно. Все копируют, если встаёт такая задача.

✏️ Пример написания:

input[type="range"]::-webkit-slider-thumb {
    border: 1px solid #000000;
    height: 16px;
    width: 26px;
    border-radius: 0;
    background-color: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: -3px;
  }
  
  input[type="range"]::-moz-range-thumb {
    box-sizing: border-box;
    border: 1px solid #000000;
    height: 16px;
    width: 26px;
    border-radius: 0;
    background-color: #ffffff;
    cursor: pointer;
}

Быстро разберёмся, что здесь происходит:
1.Вендорный префикс -webkit- нужен для Chrome и других браузеров на основе Chromium.
-moz- — для Firefox.
2.Для Chrome мы ещё раз сбрасываем браузерные стили, иначе ползунок не примет нужную нам форму.
3.Задаём размеры 26 пикселей в ширину и 16 в высоту. А также чёрную рамку в 1 пиксель.
4.Задаём получившемуся элементу белый фон, убираем скругление рамки и задаём курсор в виде руки.
5.Для Chrome чуть приподнимаем ползунок отрицательным верхним полем.
Скопируйте код ниже и вставите в файл со стилями:


✅
/* Стилизуем полоску  */
Теперь перейдём к стилизации полоски, по которой двигается ползунок.

5️⃣ Уберём скругление для рамки и рамку вообще, зададим курсор в виде руки.

6️⃣Ширина будет 100%, а высота 10 пикселей.

7️⃣ Сделаем чёрный фон.

✏️ Пример написания:

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background-color: #000000;
    border-radius: 0;
    border: none;
  }
  
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background-color: #000000;
    border-radius: 0;
    border: none;
}


✅
/* Стилизуем обводку фокуса :focus */

✏️ Пример написания:

input[type='range']:focus {
    outline: 2px solid #000;
    outline-offset: 2px;
}



/* Полный вариант кода */

✏️ Пример написания:

input[type='range'] {
    width: 100%;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 26px;
    height: 16px;
    margin-top: -3px;
    border: 1px solid #000;
    border-radius: 0;
    background-color: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  input[type='range']::-moz-range-thumb {
    box-sizing: border-box;
    width: 26px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 0;
    background-color: #fff;
    cursor: pointer;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    border: none;
    border-radius: 0;
    background-color: #000;
    cursor: pointer;
  }
  
  input[type='range']::-moz-range-track {
    width: 100%;
    height: 10px;
    border: none;
    border-radius: 0;
    background-color: #000;
    cursor: pointer;
  }
  
  input[type='range']:focus {
    outline: 2px solid #000;
    outline-offset: 2px;
}
  



















Symbols
1️⃣ 2️⃣ 3️⃣ 4️⃣ 5️⃣ 6️⃣ 7️⃣ 8️⃣ 9️⃣ 🔟 🔢 0️⃣ #️⃣ 🔣 ◀️ ⬇️ ▶️ ⬅️ 🔠 🔡 🔤 ↙️ ↘️ ➡️➡️ ⬆️ ↖️ ↗️ ⏬ ⏫ 🔽 ⤵️ ⤴️ ↩️ ↪️ ↔️ ↕️ 🔼 🔃 🔄 ⏪ ⏩ ℹ️ 🆗 🔀 🔁 🔂 🆕 🔝 🆙 🆒 🆓 🆖 🎦 🈁 📶 🈹 🈴 🈺 🈯 🈷️ 🈶 🈵 🈚 🈸 🈳 🈲 🈂️ 🚻 🚹 🚺 🚼 🚭 🅿️ ♿ 🚇 🛄 🉑 🚾 🚰 🚮 ㊙️ ㊗️ Ⓜ️ 🛂 🛅 🛃 🉐 🆑 🆘 🆔 🚫 🔞 📵 🚯 🚱 🚳 🚷 🚸 ⛔ ✳️ ❇️ ✴️ 💟 🆚 📳 📴 💹 💱 ♈ ♉ ♊ ♋ ♌ ♍ ♎ ♏ ♐ ♑ ♒ ♓ ⛎ 🔯 ❎ 🅰️ 🅱️ 🆎 🅾️ 💠 ♻️ 🔚 🔙 🔛 🔜 🕐 🕜 🕙 🕥 🕚 🕦 🕛 🕧 🕑 🕝 🕒 🕞 🕓 🕟 🕔 🕠 🕕 🕡 🕖 🕢 🕗 🕣 🕘 🕤 💲 ©️ ®️ ™️ ❌ ❗ ‼️ ⁉️ ⭕ ✖️ ➕ ➖ ➗ 💮 💯 ✔️ ☑️ 🔘 🔗 ➰ 〰️ 〽️ 🔱 ▪️ ▫️ ◾ ◽ ◼️ ◻️ ⬛ ⬜ ✅ 🔲 🔳 ⚫ ⚪ 🔴 🔵 🔷 🔶 🔹 🔸 🔺 🔻✏️