

✅ 
/* Переполнение блока */


.overflow: -включают полосу прокрутки или скрывают то, что не умещается

auto- включает скролл, если переполнение случилось;
scroll- включает полосы прокрутки всегда;
hidden- скрывает невместившийся контент;
clip- обрезает невместившийся контент и делает так, что блоку невозможно приделать скролл даже при программировании, значение запрещает блоку становиться «скроллящимся».

❗ Можно управлять по двум направлениям: по оси X и по оси Y. 

✏️ Пример написания: 

.block {
    /* другие стили */
    overflow-x: scroll;
    overflow-y: hidden;
} 

или 

.block {
    /* другие стили */
    overflow: hidden scroll;
} 


✅ 
/* Выпадение и схлопывание полей */

⚪Margin - внешние отступы⚪

❗Выпадение полей происходит, если у родительского элемента не заданы границы, внутренние отступы или overflow, вертикальные поля будут вылезать за пределы родительского блока. 

Если нужно убрать такое поведение, задайте родителю прозрачную границу со значением border-color: transparent;, минимальный padding-top в 1px, overflow: hidden;. Ещё можно сделать родителя флекс- или грид-контейнером. 


❗ Если поля двух соседних блоков стыкуются, больший отступ поглощает меньший.

Важно помнить, что схлопывание перестаёт работать в контексте гибких контейнеров. В них поля суммируются. 
С боковыми полями схлопывание работает так же.


⚪Padding - внешние отступы⚪






1️⃣ 2️⃣ 3️⃣ 4️⃣ 5️⃣ 6️⃣ 7️⃣ 8️⃣ 9️⃣ 🔟 🔢 0️⃣ #️⃣ 🔣 ◀️ ⬇️ ▶️ ⬅️ 🔠 🔡 🔤 ↙️ ↘️ ➡️ ⬆️ ↖️ ↗️ ⏬ ⏫ 🔽 ⤵️ ⤴️ ↩️ ↪️ ↔️ ↕️ 🔼 🔃 🔄 ⏪ ⏩ ℹ️ 🆗 🔀 🔁 🔂 🆕 🔝 🆙 🆒 🆓 🆖 🎦 🈁 📶 🈹 🈴 🈺 🈯 🈷️ 🈶 🈵 🈚 🈸 🈳 🈲 🈂️ 🚻 🚹 🚺 🚼 🚭 🅿️ ♿ 🚇 🛄 🉑 🚾 🚰 🚮 ㊙️ ㊗️ Ⓜ️ 🛂 🛅 🛃 🉐 🆑 🆘 🆔 🚫 🔞 📵 🚯 🚱 🚳 🚷 🚸 ⛔ ✳️ ❇️ ✴️ 💟 🆚 📳 📴 💹 💱 ♈ ♉ ♊ ♋ ♌ ♍ ♎ ♏ ♐ ♑ ♒ ♓ ⛎ 🔯 ❎ 🅰️ 🅱️ 🆎 🅾️ 💠 ♻️ 🔚 🔙 🔛 🔜 🕐 🕜 🕙 🕥 🕚 🕦 🕛 🕧 🕑 🕝 🕒 🕞 🕓 🕟 🕔 🕠 🕕 🕡 🕖 🕢 🕗 🕣 🕘 🕤 💲 ©️ ®️ ™️ ❌ ❗ ‼️ ⁉️ ⭕ ✖️ ➕ ➖ ➗ 💮 💯 ✔️ ☑️ 🔘 🔗 ➰ 〰️ 〽️ 🔱 ▪️ ▫️ ◾ ◽ ◼️ ◻️ ⬛ ⬜ ✅ 🔲 🔳 ⚫ ⚪ 🔴 🔵 🔷 🔶 🔹 🔸 🔺 🔻