✅
/* Уважаем пользователя */

❗Чтобы уважать желание пользователя и не показывать ему анимации там, где они не критичны и несут декоративный характер, нужно использовать проверку параметра prefers-reduced-motion. 
❗Он может быть reduce и no-preference
❗Если параметр равен значению reduce, пользователю не нужно показывать анимации. Лучше ограничиться аккуратными подсказывающими переходами, а всю остальную красоту обернуть в медиавыражение. Примерно так:


✏️ Пример написания:  

.link {
    color: tomato;
    transition: color 0.2s;
}

.link:hover {
    color: turquoise;
}

@media (prefers-reduced-motion: no-preference) {
    .link:hover {
        animation: jump 0.5s ease infinite;
    }
} 


❗За пределами медиавыражения мы оставили только плавный переход, чтобы при наведении курсора мыши сменять цвет ссылки. В условии медиавыражения мы проверяем, включена ли у пользователя настройка снижения движения. Если нет, по наведению курсора ссылке добавляется анимация.



✅
/* Отладка анимаций */



1️⃣ 2️⃣ 3️⃣ 4️⃣ 5️⃣ 6️⃣ 7️⃣ 8️⃣ 9️⃣ 🔟 🔢 0️⃣ #️⃣ 🔣 ◀️ ⬇️ ▶️ ⬅️ 🔠 🔡 🔤 ↙️ ↘️ ➡️➡️ ⬆️ ↖️ ↗️ ⏬ ⏫ 🔽 ⤵️ ⤴️ ↩️ ↪️ ↔️ ↕️ 🔼 🔃 🔄 ⏪ ⏩ ℹ️ 🆗 🔀 🔁 🔂 🆕 🔝 🆙 🆒 🆓 🆖 🎦 🈁 📶 🈹 🈴 🈺 🈯 🈷️ 🈶 🈵 🈚 🈸 🈳 🈲 🈂️ 🚻 🚹 🚺 🚼 🚭 🅿️ ♿ 🚇 🛄 🉑 🚾 🚰 🚮 ㊙️ ㊗️ Ⓜ️ 🛂 🛅 🛃 🉐 🆑 🆘 🆔 🚫 🔞 📵 🚯 🚱 🚳 🚷 🚸 ⛔ ✳️ ❇️ ✴️ 💟 🆚 📳 📴 💹 💱 ♈ ♉ ♊ ♋ ♌ ♍ ♎ ♏ ♐ ♑ ♒ ♓ ⛎ 🔯 ❎ 🅰️ 🅱️ 🆎 🅾️ 💠 ♻️ 🔚 🔙 🔛 🔜 🕐 🕜 🕙 🕥 🕚 🕦 🕛 🕧 🕑 🕝 🕒 🕞 🕓 🕟 🕔 🕠 🕕 🕡 🕖 🕢 🕗 🕣 🕘 🕤 💲 ©️ ®️ ™️ ❌ ❗ ‼️ ⁉️ ⭕ ✖️ ➕ ➖ ➗ 💮 💯 ✔️ ☑️ 🔘 🔗 ➰ 〰️ 〽️ 🔱 ▪️ ▫️ ◾ ◽ ◼️ ◻️ ⬛ ⬜ ✅ 🔲 🔳 ⚫ ⚪ 🔴 🔵 🔷 🔶 🔹 🔸 🔺 🔻✏️