✅
/* ПСЕВДОЭЛЕМЕНТЫ */

⚪ .Псевдоэлементы- позволяют выбрать только часть какого-то элемента. Их очень часто используют для оформления. 

❗ ВАЖНО
Нельзя задавать для тегов, вместо которых что-то рисуется. 
Не срабатывает, например, для <img>. Потому что браузер заменяет тег на картинку, которую вы указали в src и затирает всё ненужное. Так же будет с <br>, <iframe>, <video>, <audio> и <option>. Такие элементы называются «замещаемыми».


✅
/* СОЗДАТЬ ЭЛЕМЕНТЫ КОТОРЫХ НЕТ В РАЗМЕТКЕ */

➡️::before — добавляет сообщение до определённого элемента.

➡️::after — добавляет сообщение после определённого элемента.

❗ Оба эти псевдоэлемента встраиваются в элемент, к которому применяются. ::before по умолчанию появится перед элементом, а ::after — после.

❗ Самое главное для этих элементов — свойство content. Без него работать не будет. В этом свойстве мы указываем, что конкретно хотим показать до или после элемента.

✏️ Пример написания:

p::before {
    content: "Заметка! ";
    color: #fd24af;
}

p::after {
    content: "!";
    color: #fd24af;
} 


✏️ Пример написания:

Затемнение кактинки под тектом

.header {
 
    position: relative;
    display: flex;
    place-items: center;
    box-sizing: border-box;
    width: 100%;
    min-height: 500px;
    padding: 50px 0;
    background: url(./images/background.jpg) no-repeat center / cover;
    z-index: 0;
}

.header-title {
    width: 70%;
    max-width: 560px;
    margin: 0 auto;
    color: white;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
  }

.header::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0 / 0.5);
    z-index: -1;
}


✅
/* СПИСОК С САМОДЕЛЬНЫМИ МАРКЕРАМИ  */

➡️ ::marker - Очень популярная в работе задача — создать списки с самодельными маркерами.  

❗Работает для элементов списка. 

❗Для стилизации можно использовать небольшое количество свойств:
content;
white-space;
text-transform;
letter-spacing;
все свойства для работы с шрифтом (font-size, font-weight и другие);
color.

❗❗❗ МОЖНО ИСПОЛЬЗОВАТЬ ::before



➡️::selection — выбирает выбранные пользователем элементы и меняет стили текста при выделении. 

❗ Набор доступных для стилизации свойств у него крайне ограничен:
color;
background-color;
text-decoration ;
text-shadow.



➡️::first-letter — позволяет выбрать первую букву из текста.

➡️::first-line — стилизует первую строку текста.

