/* .white-space - cпособ обработки пробелов в тексте */

white-space: normal;
white-space: nowrap;
white-space: pre;
white-space: pre-wrap;
white-space: pre-line;
white-space: break-spaces;


/* .overflow - назначается родительскому элементу, в который не помещается содержимое. */

.visible — содержимое отображается снаружи родительского блока, если его размеры больше размеров «родительского» блока (значение по умолчанию);
.hidden — содержимое, выходящее за пределы «родительского» блока, обрезается по его границам без прокрутки;
.clip — новое значение, похожее по результату на hidden, но границы родительского блока рассчитываются с учётом внутренних отступов;
.scroll — контент обрезается по границам «родительского» блока, но внутри этой области содержимое доступно с помощью прокрутки;
.auto — если содержимое переполняет блок, контент будет доступен для прокрутки.


/* .text-overflow - многоточие */

.clip — текст просто обрежется по краю;
.ellipsis — появится многоточие.

.Особенность в том, что свойство работает только в комбинации с overflow и white-space: nowrap. Если их не будет у элемента, text-overflow не сработает. Немного больше подробностей читайте в Доке, а в примере ниже примените text-overflow и добейтесь ожидаемого результата.