✅
/*  */

🔶 Ещё одна дизайнерская задача — добавить обводку букв. Конечно, можно сделать это с помощью тени. Решение хорошее и в большинстве случаев даст желаемый эффект: текст обведён нужным цветом.

Помимо теней, есть другой способ — задать тексту свойство text-stroke.

❗Свойство text-stroke — экспериментальное, его даже нет в спецификации W3C, и пока его нужно писать с префиксом -webkit-.❗

❗С помощью text-shadow мы можем сделать только обводку толщиной в один пиксель. 

❗Если делать её толще, то буквы будут обводиться неравномерно. 

❗Ещё разница между тенью текста и его обводкой в том, что text-shadow начинается от края буквы, а text-stroke частично лежит поверх края буквы, а частично вне её. К тому же text-stroke обводит каждую букву, даже если буквы перекрывают друг друга.


✏️ Пример написания:
p {
    -webkit-text-stroke: 1px #000000;
}

Это свойство — шорткат для двух других свойств:

text-stroke-width принимает числовое значение (например, 1px, 0.125em) и описывает толщину обводки;

text-stroke-color принимает значение цвета (например, hex, rgba, hsl).

С использованием этих свойств код выше можно записать так:

p {
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}

❗Раз text-stroke поддерживается не очень хорошо, лучше подстраховаться. Проверьте поддержку свойства с помощью директивы @supports, и если оно не поддерживается, добавьте альтернативу: обводку с помощью text-shadow.❗

✏️ Пример написания:

p {
    text-shadow:
    -1px 0 #000000, 
   0 1px #000000, 
   1px 0 #000000, 
   0 -1px #000000;
}

@supports((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
    p {
        -webkit-text-stroke: 1px ##000000;
        text-stroke: 1px #000000;
        text-shadow: none;
    }
}



1️⃣ 2️⃣ 3️⃣ 4️⃣ 5️⃣ 6️⃣ 7️⃣ 8️⃣ 9️⃣ 🔟 🔢 0️⃣ #️⃣ 🔣 ◀️ ⬇️ ▶️ ⬅️ 🔠 🔡 🔤 ↙️ ↘️ ➡️➡️ ⬆️ ↖️ ↗️ ⏬ ⏫ 🔽 ⤵️ ⤴️ ↩️ ↪️ ↔️ ↕️ 🔼 🔃 🔄 ⏪ ⏩ ℹ️ 🆗 🔀 🔁 🔂 🆕 🔝 🆙 🆒 🆓 🆖 🎦 🈁 📶 🈹 🈴 🈺 🈯 🈷️ 🈶 🈵 🈚 🈸 🈳 🈲 🈂️ 🚻 🚹 🚺 🚼 🚭 🅿️ ♿ 🚇 🛄 🉑 🚾 🚰 🚮 ㊙️ ㊗️ Ⓜ️ 🛂 🛅 🛃 🉐 🆑 🆘 🆔 🚫 🔞 📵 🚯 🚱 🚳 🚷 🚸 ⛔ ✳️ ❇️ ✴️ 💟 🆚 📳 📴 💹 💱 ♈ ♉ ♊ ♋ ♌ ♍ ♎ ♏ ♐ ♑ ♒ ♓ ⛎ 🔯 ❎ 🅰️ 🅱️ 🆎 🅾️ 💠 ♻️ 🔚 🔙 🔛 🔜 🕐 🕜 🕙 🕥 🕚 🕦 🕛 🕧 🕑 🕝 🕒 🕞 🕓 🕟 🕔 🕠 🕕 🕡 🕖 🕢 🕗 🕣 🕘 🕤 💲 ©️ ®️ ™️ ❌ ❗❗ ‼️ ⁉️ ⭕ ✖️ ➕ ➖ ➗ 💮 💯 ✔️ ☑️ 🔘 🔗 ➰ 〰️ 〽️ 🔱 ▪️ ▫️ ◾ ◽ ◼️ ◻️ ⬛ ⬜ ✅ 🔲 🔳 ⚫ ⚪ 🔴 🔵 🔷 🔶 🔹 🔸 🔺 🔻
✏️ Пример написания: