✅
/* Объединение и смешивание слоев */

🔶 Свойство blend-mode - определяет, как содержимое элемента должно сочетаться с содержимым родительского элемента и фоном элемента.
🔶 если у нас есть несколько элементов, и они перекрывают друг друга, свойство позволяет смешивать слои. С режимом blend-mode можно без помощи дизайнера добавить к изображению фон, цвет или текстуру. 

🔶 mix-blend-mode используется для смешивания отдельных элементов

🔶 background-blend-mode — для объединения нескольких фонов у одного элемент

✅ Значения mix-blend-mode : 
➡️ mix-blend-mode: normal - В этом режиме цвета элементов не смешиваются — как будто друг на друга наложили два непрозрачных листа бумаги. Итоговым цветом будет цвет верхнего элемента. 

➡️ mix-blend-mode: multiply - В этом режиме цвет верхнего слоя умножается на цвет нижнего. 
❗ Этот режим можно использовать, чтобы исправить неудачный логотип. Можно легко убрать белый фон и получить прозрачный. Но есть одно ограничение: чтобы логотип тоже не приобрёл эффект multiply, он должен быть чёрного цвета или очень тёмного оттенка.

➡️ mix-blend-mode: screen - создаёт эффект будто два полупрозрачных изображения проецируются на включённый экран компьютера. Изображения накладываются друг на друга и подсвечиваются снизу светом экрана. Результат всегда будет светлее обоих исходных изображений.
❗Этот эффект можно использовать для того, чтобы сделать текст прозрачным. 

➡️ mix-blend-mode: overlay - Этот режим наложения комбинирует эффект режима screen для более светлых участков и multiply — для тёмных.  Средние тона становятся прозрачными. 

➡️ mix-blend-mode: darken - В этом режиме для итогового слоя берутся самые тёмные участки элементов. 

➡️ mix-blend-mode: lighten - Противоположность darken, для итогового слоя берутся самые светлые участки элементов.

➡️ mix-blend-mode: color - В этом режиме оттенок и насыщенность верхнего элемента применяются к нижнему элементу.

❗❗❗Учтите, что в браузере Safari режимы mix-blend-mode hue, saturation, color и luminosity пока поддерживаются не очень хорошо.❗❗❗


✅ Значения background-blend-mode: 

🔶 Свойство background-blend-mode очень похоже на mix-blend-mode. Оно использует те же самые режимы смешивания. Но есть некоторые тонкости, которые нужно учитывать. 

❗Режим наложения работает между слоями фона, объявленными в background-image

❗Фоновый слой может смешиваться со слоем, находящимся под ним
❗Каждому фоновому слою можно прописать свой режим смешивания. Для этого режимы указывают по порядку через запятую: 
❗Последний, самый нижний слой, будет автоматически накладываться в обычном режиме (normal), и это нельзя изменить. 
❗Если кроме background-image задать background-color, то он и будет считаться нижним слоем. 

✏️ Пример написания:

.element {
    background-image: url(images/picture1.jpg), url(images/picture2.png);
    background-blend-mode: overlay, saturation;
}


❗Иногда нужно наложить на изображение цвет. Но что делать, если цвет считается нижним слоем и ему нельзя поменять режим смешивания? Вспомните про градиенты! Градиент задаётся как background-image, и его можно задать так, чтобы один цвет переходил… в точно такой же. аким образом, цвет можно наложить поверх изображения в любом режиме смешивания.  Например:

✏️ Пример написания:

background-image: linear-gradient(tomato, tomato);

✅
/* isolation */

Это свойство применяется вместе с mix-blend-mode, чтобы элементы не смешивались с фоном, независимо от заданного режима смешивания.  Это полезно, чтобы элемент не наследовал режим смешивания от родителя.

isolation: auto;
isolation: isolate;
isolation: inherit;
isolation: initial; 












1️⃣ 2️⃣ 3️⃣ 4️⃣ 5️⃣ 6️⃣ 7️⃣ 8️⃣ 9️⃣ 🔟 🔢 0️⃣ #️⃣ 🔣 ◀️ ⬇️ ▶️ ⬅️ 🔠 🔡 🔤 ↙️ ↘️ ➡️➡️ ⬆️ ↖️ ↗️ ⏬ ⏫ 🔽 ⤵️ ⤴️ ↩️ ↪️ ↔️ ↕️ 🔼 🔃 🔄 ⏪ ⏩ ℹ️ 🆗 🔀 🔁 🔂 🆕 🔝 🆙 🆒 🆓 🆖 🎦 🈁 📶 🈹 🈴 🈺 🈯 🈷️ 🈶 🈵 🈚 🈸 🈳 🈲 🈂️ 🚻 🚹 🚺 🚼 🚭 🅿️ ♿ 🚇 🛄 🉑 🚾 🚰 🚮 ㊙️ ㊗️ Ⓜ️ 🛂 🛅 🛃 🉐 🆑 🆘 🆔 🚫 🔞 📵 🚯 🚱 🚳 🚷 🚸 ⛔ ✳️ ❇️ ✴️ 💟 🆚 📳 📴 💹 💱 ♈ ♉ ♊ ♋ ♌ ♍ ♎ ♏ ♐ ♑ ♒ ♓ ⛎ 🔯 ❎ 🅰️ 🅱️ 🆎 🅾️ 💠 ♻️ 🔚 🔙 🔛 🔜 🕐 🕜 🕙 🕥 🕚 🕦 🕛 🕧 🕑 🕝 🕒 🕞 🕓 🕟 🕔 🕠 🕕 🕡 🕖 🕢 🕗 🕣 🕘 🕤 💲 ©️ ®️ ™️ ❌ ❗❗ ‼️ ⁉️ ⭕ ✖️ ➕ ➖ ➗ 💮 💯 ✔️ ☑️ 🔘 🔗 ➰ 〰️ 〽️ 🔱 ▪️ ▫️ ◾ ◽ ◼️ ◻️ ⬛ ⬜ ✅ 🔲 🔳 ⚫ ⚪ 🔴 🔵 🔷 🔶 🔹 🔸 🔺 🔻
✏️ Пример написания: