✅
/*  */

❗Иногда внимание пользователей нужно обратить на отдельные элементы сайта: заголовок, текст с призывом к действию (например, к покупке), важное объявление. Один из способов привлечь внимание к тексту — сделать его крупным и ярким. Например, раскрасить градиентом или подложить под текст картинку.❗

🔴сделать градиент внутри текста 🔴

1️⃣ Сначала блоку с текстом пропишем фоновое изображение. Это может быть картинка или градиент. 

✏️ Пример написания:

background-image:
    linear-gradient(to left,
      #9400d3 20%,
      #f80000 50%,
      #ffff00 90%
);


2️⃣ сделаем из текста трафарет. Задайте параграфу свойство background-clip: text;. Так как браузеры пока не очень хорошо поддерживают это свойство, добавьте ещё одно такое же свойство с префиксом -webkit- (webkit-background-clip: text;).

✏️ Пример написания:

background-clip: text;
-webkit-background-clip: text;

3️⃣ сделайте текст прозрачным: 

✏️ Пример написания:

color: transparent;



/* Если надо анимацию: */

4️⃣ анимируем текст с градиентом.

Помните, что градиент, как и любое фоновое изображение, можно анимировать. 
❗Но анимировать лучше всего background-position

✏️ Пример написания:

p {
  margin: 20px 0 0;
  color: transparent;
  font-weight: 900;
  font-size: 90px;
  text-align: center;
  text-transform: uppercase;
  background-image:
    linear-gradient(
      to left,
      #9400d3 20%,
      #f80000 50%,
      #ff0 90%
    );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: text-move 3s ease-in-out infinite alternate;
  max-inline-size: 800px;
}


5️⃣Точно так же вместо градиента можно подложить любое изображение. 

✏️ Пример написания:

p {
  margin: 20px 0 0;
  font-weight: 900;
  font-size: 90px;
  text-align: center;
  text-transform: uppercase;
  max-inline-size: 800px;
  color: transparent;
  -webkit-background-clip: text;
  background-image: url(../images/vangogh.webp);
}






1️⃣ 2️⃣ 3️⃣ 4️⃣ 5️⃣ 6️⃣ 7️⃣ 8️⃣ 9️⃣ 🔟 🔢 0️⃣ #️⃣ 🔣 ◀️ ⬇️ ▶️ ⬅️ 🔠 🔡 🔤 ↙️ ↘️ ➡️➡️ ⬆️ ↖️ ↗️ ⏬ ⏫ 🔽 ⤵️ ⤴️ ↩️ ↪️ ↔️ ↕️ 🔼 🔃 🔄 ⏪ ⏩ ℹ️ 🆗 🔀 🔁 🔂 🆕 🔝 🆙 🆒 🆓 🆖 🎦 🈁 📶 🈹 🈴 🈺 🈯 🈷️ 🈶 🈵 🈚 🈸 🈳 🈲 🈂️ 🚻 🚹 🚺 🚼 🚭 🅿️ ♿ 🚇 🛄 🉑 🚾 🚰 🚮 ㊙️ ㊗️ Ⓜ️ 🛂 🛅 🛃 🉐 🆑 🆘 🆔 🚫 🔞 📵 🚯 🚱 🚳 🚷 🚸 ⛔ ✳️ ❇️ ✴️ 💟 🆚 📳 📴 💹 💱 ♈ ♉ ♊ ♋ ♌ ♍ ♎ ♏ ♐ ♑ ♒ ♓ ⛎ 🔯 ❎ 🅰️ 🅱️ 🆎 🅾️ 💠 ♻️ 🔚 🔙 🔛 🔜 🕐 🕜 🕙 🕥 🕚 🕦 🕛 🕧 🕑 🕝 🕒 🕞 🕓 🕟 🕔 🕠 🕕 🕡 🕖 🕢 🕗 🕣 🕘 🕤 💲 ©️ ®️ ™️ ❌ ❗❗ ‼️ ⁉️ ⭕ ✖️ ➕ ➖ ➗ 💮 💯 ✔️ ☑️ 🔘 🔗 ➰ 〰️ 〽️ 🔱 ▪️ ▫️ ◾ ◽ ◼️ ◻️ ⬛ ⬜ ✅ 🔲 🔳 ⚫ ⚪ 🔴 🔵 🔷 🔶 🔹 🔸 🔺 🔻
✏️ Пример написания: