✅
/* Тень блока / box-shadow */

✏️ Шаблон: /* Обычно пишут все в строку */

.element {
    box-shadow: 
      смещение по оси х 
      смещение по оси у 
      размытие 
      радиус распространения 
      цвет;
}

✏️ Пример написания:

box-shadow: 5px 5px 0px 0px rgb(0 0 0 / 0.25)



.Значение inset- необязательный. Если его прописать, то тень будет находиться внутри элемента.


✏️ Пример написания:

box-shadow: inset 5px 5px 0px 0px rgb(255 255 255 / 75%);


✅
/* Тень текста и множественные тени / text-shadow */

✏️ Пример написания:

text-shadow: 2px 4px 3px rgb(0 0 0 / 0.5);

❗ К блокам и тексту можно применять любое количество теней, для этого их нужно перечислить через запятую при описании box-shadow или text-shadow. Например:

✏️ Пример написания:

.block {
    box-shadow:
      0 0 3px 4px #1919ff,
    0 0 0 8px #6fc1fd,
    0 0 0 12px #dfe9f5,
    0 0 0 16px #6fc1fd,
    0 0 3px 20px #1919ff;
}

или 

.block {
box-shadow: inset 5px 5px 0px 0px rgb(255 255 255 / 75%),
  px 5px 0px 0px rgb(0 0 0 / 0.25);
}


❗ Браузер отрисовывает тени, начиная с последней, независимо друг от друга. Это значит, что первая тень будет накладываться на предыдущую. 


/* Неоновое свечение текста */

✏️ Пример написания:

p {
    color: #fff;
    font-size: 48px;
    cursor: pointer;
    text-shadow: 
       0 0 5px #ffdd1b,  /* величина размытия каждой следующей тени будет слегка больше предыдущей */
       0 0 15px #ffdd1b, /* величина размытия каждой следующей тени будет слегка больше предыдущей */
       0 0 30px #ffdd1b; /* величина размытия каждой следующей тени будет слегка больше предыдущей */
  }