✅


🔶Функции фильтров прописывают свойствам filter и backdrop-filter. Разберёмся, как работают фильтры. 


➡️ brightness() - фильтр изменяет яркость изображения. 

❗Значение пишут в процентах или десятичных дробях. 
❗Чем больше значение, тем ярче изображение
❗0 и 0%  сделают изображение полностью чёрным,
❗Значение выше 1 или 100% сделает изображение более ярким, чем изначально.

✏️ Пример написания:

.image {
    filter: brightness(200%);
}


➡️ contrast() - Изменяет контрастность изображения, то есть разницу между тёмными и светлыми участками изображения.

❗Можно указать в процентах или десятичных дробях.
❗Значения 0 и 0% полностью скроют изображение под серым фоном.
❗1 и 100% покажут изображение с исходной контрастностью. 
❗Значение выше 1 или 100% увеличит контраст относительно исходного.

✏️ Пример написания:

.image {
    filter: contrast(20%);
}


➡️ blur() - Применяет размытие к изображению. 
Значение в скобках указывает, сколько пикселей должны слиться друг с другом.

❗Чем выше значение, тем больше размытие.
❗Можно указать любые единицы измерения, кроме процентов. ри этом их значения не должны быть отрицательными.

✏️ Пример написания:

.image {
    filter: blur(3.2rem);
}


➡️ opacity() - Меняет прозрачность изображения.

❗Значение можно задать в процентах от 0 до 100% или числах от 0 до 1
❗Значение 0% делает элемент полностью прозрачным, а 100% никак на него не влияет.

✏️ Пример написания:

.image {
    filter: opacity(0.8);
}


➡️ grayscale() - Делает изображение чёрно-белым.

❗Значение задаётся в процентах или в числах от 0 до 1.  Чем выше значение, тем сильнее эффект. 
❗Значение 0 или 0% покажет исходное изображение.


✏️ Пример написания:

.image {
    filter: grayscale(0.8);
}


➡️ saturate() - Управляет насыщенностью цветов.

❗Можно задавать в процентах или целых положительных числах.
❗Значение 0% полностью убирает цветность, а 100% не оказывает никакого эффекта.
❗Значения от 0% до 100% уменьшают насыщенность цвета, выше 100% — увеличивают.

✏️ Пример написания:

.image {
    filter: saturate(158%);
}


➡️ hue-rotate() - Меняет оттенок элемента

❗в качестве значения можно указать угол (deg) от 0 до 360 или поворот turn. 
❗Замена цветов происходит через поворот на  цветовом круге.
❗Значения 0deg и 360deg никак не повлияют на изображение.
❗В градусах можно указывать и отрицательные значения.

✏️ Пример написания:


.image {
    filter: hue-rotate(-90deg);
}


➡️ sepia() - Создаёт эффект ретро-фотографии.

❗Значение 0% не меняет внешний вид элемента, а 100% полностью воспроизводит эффект сепии.

✏️ Пример написания:

.image {
    filter: sepia(80%);
}


➡️ invert() - Фильтр делает негатив изображения, то есть меняет светлые участки на тёмные, а тёмные — на светлые. 

❗Цвета в негативе тоже меняются:
красные области становятся голубыми? зелёные - пурпурными? синие — жёлтыми и наоборот. 
❗Цвета инвертируются, то есть меняются на противоположные на цветовом круге.
❗Значение фильтра задаётся в процентах от 0 до 100% или числах от 0 до 1.  
❗Если задано значение 0%, цвета остаются неизменными, 100% полностью преобразует цвета.
❗С помощью инвертирования можно сделать тёмную тему для сайта. Только нужно внимательно отбирать цвета, чтобы они инвертировались красиво.

✏️ Пример написания:

.image {
    filter: invert(0.7);
}


➡️ drop-shadow() - Эффект задаёт тень для элемента.

❗Эта функция очень похожа на box-shadow, но применяет тень к форме самого элемента внутри него, а не к форме ограничивающей его рамки.
❗Можно задать тень изображению в формате .png или .svg с прозрачным фоном, и тень будет отбрасываться от непрозрачных частей изображения.
❗здесь не сработает ключевое слово inset, тень всё равно будет снаружи элемента. 

✏️ Пример написания:

.image {
    filter: drop-shadow(5px 15px 3px rgba(0, 0, 0, 0.8));
}


/*  Шоркат */

✏️ Пример написания:
filter: sepia(1) contrast(2) brightness(200%);

❗Чем больше фильтров, тем больше времени нужно браузеру на работу. Особенно много ресурсов используют фильтры blur() и drop-shadow().
❗Чтобы отключить фильтры, используйте filter: none;


1️⃣ 2️⃣ 3️⃣ 4️⃣ 5️⃣ 6️⃣ 7️⃣ 8️⃣ 9️⃣ 🔟 🔢 0️⃣ #️⃣ 🔣 ◀️ ⬇️ ▶️ ⬅️ 🔠 🔡 🔤 ↙️ ↘️ ➡️➡️ ⬆️ ↖️ ↗️ ⏬ ⏫ 🔽 ⤵️ ⤴️ ↩️ ↪️ ↔️ ↕️ 🔼 🔃 🔄 ⏪ ⏩ ℹ️ 🆗 🔀 🔁 🔂 🆕 🔝 🆙 🆒 🆓 🆖 🎦 🈁 📶 🈹 🈴 🈺 🈯 🈷️ 🈶 🈵 🈚 🈸 🈳 🈲 🈂️ 🚻 🚹 🚺 🚼 🚭 🅿️ ♿ 🚇 🛄 🉑 🚾 🚰 🚮 ㊙️ ㊗️ Ⓜ️ 🛂 🛅 🛃 🉐 🆑 🆘 🆔 🚫 🔞 📵 🚯 🚱 🚳 🚷 🚸 ⛔ ✳️ ❇️ ✴️ 💟 🆚 📳 📴 💹 💱 ♈ ♉ ♊ ♋ ♌ ♍ ♎ ♏ ♐ ♑ ♒ ♓ ⛎ 🔯 ❎ 🅰️ 🅱️ 🆎 🅾️ 💠 ♻️ 🔚 🔙 🔛 🔜 🕐 🕜 🕙 🕥 🕚 🕦 🕛 🕧 🕑 🕝 🕒 🕞 🕓 🕟 🕔 🕠 🕕 🕡 🕖 🕢 🕗 🕣 🕘 🕤 💲 ©️ ®️ ™️ ❌ ❗❗ ‼️ ⁉️ ⭕ ✖️ ➕ ➖ ➗ 💮 💯 ✔️ ☑️ 🔘 🔗 ➰ 〰️ 〽️ 🔱 ▪️ ▫️ ◾ ◽ ◼️ ◻️ ⬛ ⬜ ✅ 🔲 🔳 ⚫ ⚪ 🔴 🔵 🔷 🔶 🔹 🔸 🔺 🔻✏️