✅
/* Свойсвта трансформации */

🔶 CSS-свойства для отдельных функций трансформаций, запменяют функции.

▶️translate() - Смещение мы указываем в любых единицах измерения расстояния: пиксели, проценты и так далее.
❗ Можно задать одно, два или три значения через пробел. Одно значение применяется к оси X, два значения влияют на X и Y, а при трёх значениях элемент смещается по всем трём осям.


▶️scale()- указывать положительное целое или дробное число от 0 до бесконечности. При этом изначальный масштаб элемента — 1.можно указать изменение масштаба в процентах. но лучше в ччислах.

❗ Можно задать одно, два или три значения через пробел. Одно значение изменит масштаб элемента по высоте и ширине, два значения отвечают за размер по строчной оси и по блочной оси, а третье значение влияет на изменения по оси Z.

▶️rotate() - Указываем значение в градусах или поворотах. Радианы и грады тоже допустимы.

❗Чтобы просто повернуть элемент по часовой или против часовой стрелки, задайте одно значение. 
❗3D-поворот, и тогда нужно указать, к какой конкретно оси относится заданное значение. 

✏️ Пример написания:

.box {
    rotate: x 45deg;
    rotate: y 90deg;
}


✏️ Пример написания  трансформациями на новый синтаксис:

🔷.Было в функциях:

.card {
    transform: rotate(15deg) scale(1.1) translateY(20%);
}

.card:hover {
    transform: rotate(15deg) scale(1.1) translateY(0);
} 


🔷.Стало в свойствах:

.card {
    rotate: 15deg; 
    scale: 1.1; 
    translate: 0 20%;
}

.card:hover {
    translate: 0 0;
}



✅
/* Свойство transform-origin */

🔶Свойство transform-origin -  его помощью мы можем перемещать точку, вокруг которой происходит трансформация. Особенно это полезно при поворотах.

❗По умолчанию точка трансформации находится в центре элемента.
Но вообще все координаты в вебе считаются от верхнего левого края. Это считается за 0 по оси X и 0 по Y. Поэтому, если мы меняем точку трансформации, нужно помнить, что отсчёт должен идти от левого верхнего угла.
❗Перед началом трансформации задаем свойство transform-origin: 0 0;
❗Свойству transform-origin можно задать одно, два или три значения через пробел. Причём значения могут быть как числовыми, так и в виде ключевых слов.

🔷 Ключевые слова: 
center, top, left, right, bottom.

❗Можно также указать два или три значения: первое для оси X, второе для оси Y, третье для оси Z.







1️⃣ 2️⃣ 3️⃣ 4️⃣ 5️⃣ 6️⃣ 7️⃣ 8️⃣ 9️⃣ 🔟 🔢 0️⃣ #️⃣ 🔣 ◀️ ⬇️ ▶️ ⬅️ 🔠 🔡 🔤 ↙️ ↘️ ➡️➡️ ⬆️ ↖️ ↗️ ⏬ ⏫ 🔽 ⤵️ ⤴️ ↩️ ↪️ ↔️ ↕️ 🔼 🔃 🔄 ⏪ ⏩ ℹ️ 🆗 🔀 🔁 🔂 🆕 🔝 🆙 🆒 🆓 🆖 🎦 🈁 📶 🈹 🈴 🈺 🈯 🈷️ 🈶 🈵 🈚 🈸 🈳 🈲 🈂️ 🚻 🚹 🚺 🚼 🚭 🅿️ ♿ 🚇 🛄 🉑 🚾 🚰 🚮 ㊙️ ㊗️ Ⓜ️ 🛂 🛅 🛃 🉐 🆑 🆘 🆔 🚫 🔞 📵 🚯 🚱 🚳 🚷 🚸 ⛔ ✳️ ❇️ ✴️ 💟 🆚 📳 📴 💹 💱 ♈ ♉ ♊ ♋ ♌ ♍ ♎ ♏ ♐ ♑ ♒ ♓ ⛎ 🔯 ❎ 🅰️ 🅱️ 🆎 🅾️ 💠 ♻️ 🔚 🔙 🔛 🔜 🕐 🕜 🕙 🕥 🕚 🕦 🕛 🕧 🕑 🕝 🕒 🕞 🕓 🕟 🕔 🕠 🕕 🕡 🕖 🕢 🕗 🕣 🕘 🕤 💲 ©️ ®️ ™️ ❌ ❗ ‼️ ⁉️ ⭕ ✖️ ➕ ➖ ➗ 💮 💯 ✔️ ☑️ 🔘 🔗 ➰ 〰️ 〽️ 🔱 ▪️ ▫️ ◾ ◽ ◼️ ◻️ ⬛ ⬜ ✅ 🔲 🔳 ⚫ ⚪ 🔴 🔵 🔷 🔶 🔹 🔸 🔺 🔻✏️
 