✅
/* Тег <video> */

⚪ С помощью тега <video> можно вставить на страницу видео. Видеоролик, как и картинку, можно разместить внутри проекта или взять из интернета. Адрес видеофайла указывают как значение атрибута src

<video src="some-video.mp4"></video>

❗Сначала видео выглядит как картинка. Оно не проигрывается, кнопок управления тоже нет. Всем этим управляют атрибуты.


✅
/* Атрибуты тега <video> */

controls- добавляет стандартные элементы управления видеоплеером: кнопку воспроизведения и паузы, полосу прокрутки, уровень громкости, полноэкранный режим и другие элементы, в зависимости от браузера.

autoplay- видео воспроизводится автоматически после загрузки страницы. Используйте автоматическое проигрывание с умом: мало кому нравится, когда что-то начинает само играть. в Safari атрибут сработает, только если пользователь самостоятельно указал, что хочет получать видео с автоматическим воспроизведением. Цель этого — оградить пользователей от навязчивой рекламы. 

loop- зацикливает воспроизведение видео, так что оно снова начинается каждый раз после завершения.

muted- видео начнёт играть без звука, пока его не включит пользователь. Практически все браузеры запрещают автовоспроизведение, если не указать атрибут muted ❗

playsinline- контролирует воспроизведение видео на мобильных устройствах. Обычно видео открывается в полноэкранном режиме, но этот атрибут позволит запретить такое поведение, оставив видео в рамках элемента.

poster- Постер — картинка, ее будет видеть пользователь, пока не нажмёт на кнопку воспроизведения или пока видео загружается. 

type- формат видео.

width- ширина видео (лучше задават в CSS)

height- высота видео (лучше задават в CSS)


✅
/* Формат видео */

❗Разные браузеры поддерживают разные форматы видеофайлов. Самый распространённый — MP4. Но есть и более современные форматы — например, WebM. Видео в таком формате меньше весит, быстрее скачивается и воспроизводится. Особенно это актуально для больших роликов.

Подключаем видио  в более современном формате WebM. Но файл MP4 тоже не будем удалять. На случай если браузер пользователя не поддерживает новые форматы.

Для этого нужно сделать тег <video> парным, добавить ему </video>, а внутрь положить столько тегов <source>, сколько файлов мы хотим подключить.


✏️ Пример написания:

<video controls autoplay muted loop>
    <source src="video.webm" type="video/webm">
    <source src="video.mp4" type="video/mp4">
</video>

Атрибут type- обязателен, это облегчит браузеру распознавание и подбор нужного кодека.

❗Порядок подключения файлов имеет значение. В первую очередь подключайте более современные форматы файлов.


✅
/* Постер — картинка */

⚪ Постер — картинка для видео - ее будет видеть пользователь, пока не нажмёт на кнопку воспроизведения или пока видео загружается. 

<video poster="poster.png">
    ...
</video>

В качестве значения этого атрибута указываем ссылку на картинку нашего постера.


✅
/* Отображение текстовых дорожек к видео, Транскрибировать */

⚪  Транскрибировать- значит записывать устную речь в виде текста. Полученный текст представляет собой «стенограмму».

⚪ WebVTT - это формат для записи текстовых файлов, содержащих несколько строк текста, а также метаданные, такие как время, в которое вы хотите отображать каждую текстовую строку, и даже ограниченную информацию о стиле/позиционировании. Эти текстовые строки называются репликами, и вы можете отображать разные типы для разных целей, наиболее распространёнными являются:

Чтобы отобразить субтитры, титры или описания вместе с воспроизведением мультимедиа HTML, вам необходимо:

-Сохраните его как .vtt- файл, в разумном месте.
-Ссылка на файл .vtt с элементом <track>. <track> должен быть помещён в <audio> или <video>, но после элементов <source>. Используйте атрибут kind, чтобы указать, являются ли реплики субтитрами, титрами или описаниями. Кроме того, используйте srclang, чтобы сообщить браузеру, на каком языке вы записывали субтитры.

✏️ Пример написания:


<video controls>
  <source src="example.mp4" type="video/mp4" />
  <source src="example.webm" type="video/webm" />
  <track kind="subtitles" src="subtitles_en.vtt" srclang="en" />
</video>

✅
/* ПРИМЕР НАПИСАНИЯ КОДА ДЛЯ ТЕГА <video> с АТРИБУТАМИ  И НЕСКОЛЬКИМИ ФОРМАТАМИ ВИДЕО*/

<video
controls
width="400"
height="400"
autoplay
loop
muted
poster="poster.png">
<source src="rabbit320.mp4" type="video/mp4" />
<source src="rabbit320.webm" type="video/webm" />
<p>
  Your browser doesn't support HTML5 video. Here is a
  <a href="rabbit320.mp4">link to the video</a> instead.
</p>
</video>

✅
/* Подгонка видео под размер родителя */

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  object-position: center;
} 