✅
/* Тег <details>*/

🔶это элемент, клик по которому вызывает дополнительную информацию под областью клика. («выпадашка», «аккордеон», «раскрывающийся пункт»)

❗

✏️ Пример написания:

<details>
    <summary>Разверни меня!</summary>
    <p>🖤</p>
</details>

❗Внутри тега <summary> лежит содержимое области клика, контейнер после </summary> попадёт в выпадающую область.
❗Стрелочка отрисовывается браузером по умолчанию.
❗Тег <summary> и вложенный можно стилизовать 


✅
/* Рисуем свою стрелку*/

1️⃣Убираем текущую стрелку
❗Для большинства браузеров подойдёт указание правила list-style: none; для  summary. Ведь эта стрелочка — всего лишь псевдоэлемент ::marker. 
❗ для Safari нужно сбросить отдельно. Там всё работает через псевдоэлемент ::-webkit-details-marker. 

✏️ Итоговый код сброса стрелочки такой:

summary {
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}


2️⃣ Добавляем свою стрелку

➡️Можно сделать стрелочку в виде SVG-файла. Вставить её как картинку после текста summary
➡️Картинке задайте атрибут aria-hidden="true", так на нее не обратят внимание скринридеры.
➡️Задайте картинке ширину в 10 пикселей и оберните текст внутри summary  в span
➡️После этого сделайте весь summary flex-контейнером 
➡️Прижмите элементы к бокам через justify-content
➡️По дополнительной оси задайте выравнивание по центру.


3️⃣ Поворачиваем стрелку

❗У раскрытого состояния в элементе <details>  появляется атрибут 
.open.  Это значит, что мы можем пользоваться селекторами атрибутов.
❗Селектор details[open] summary выберет нам только summary в открытом состоянии. (выбрать для поворота нужно селектор именно картинки)

✏️ Пример написания:

details[open] .question img {
    transform: rotate(180deg);
}
  








1️⃣ 2️⃣ 3️⃣ 4️⃣ 5️⃣ 6️⃣ 7️⃣ 8️⃣ 9️⃣ 🔟 🔢 0️⃣ #️⃣ 🔣 ◀️ ⬇️ ▶️ ⬅️ 🔠 🔡 🔤 ↙️ ↘️ ➡️➡️ ⬆️ ↖️ ↗️ ⏬ ⏫ 🔽 ⤵️ ⤴️ ↩️ ↪️ ↔️ ↕️ 🔼 🔃 🔄 ⏪ ⏩ ℹ️ 🆗 🔀 🔁 🔂 🆕 🔝 🆙 🆒 🆓 🆖 🎦 🈁 📶 🈹 🈴 🈺 🈯 🈷️ 🈶 🈵 🈚 🈸 🈳 🈲 🈂️ 🚻 🚹 🚺 🚼 🚭 🅿️ ♿ 🚇 🛄 🉑 🚾 🚰 🚮 ㊙️ ㊗️ Ⓜ️ 🛂 🛅 🛃 🉐 🆑 🆘 🆔 🚫 🔞 📵 🚯 🚱 🚳 🚷 🚸 ⛔ ✳️ ❇️ ✴️ 💟 🆚 📳 📴 💹 💱 ♈ ♉ ♊ ♋ ♌ ♍ ♎ ♏ ♐ ♑ ♒ ♓ ⛎ 🔯 ❎ 🅰️ 🅱️ 🆎 🅾️ 💠 ♻️ 🔚 🔙 🔛 🔜 🕐 🕜 🕙 🕥 🕚 🕦 🕛 🕧 🕑 🕝 🕒 🕞 🕓 🕟 🕔 🕠 🕕 🕡 🕖 🕢 🕗 🕣 🕘 🕤 💲 ©️ ®️ ™️ ❌ ❗❗ ‼️ ⁉️ ⭕ ✖️ ➕ ➖ ➗ 💮 💯 ✔️ ☑️ 🔘 🔗 ➰ 〰️ 〽️ 🔱 ▪️ ▫️ ◾ ◽ ◼️ ◻️ ⬛ ⬜ ✅ 🔲 🔳 ⚫ ⚪ 🔴 🔵 🔷 🔶 🔹 🔸 🔺 🔻
✏️ Пример написания: