🔴Блок с основным контентом не анимируется сам по себе, у него два статичных состояния: контент показывается или не показывается. Поэтому приходится выдумывать трюки. 

1️⃣ трюк


/* Анимация details */

details {
    /* скрываем содержимое, которое не влезает в высоту блока */
    overflow: hidden;
  
    /* назначили фон всему details */
    background-color: #5f0dee;
    transition: height 1s linear;
  }
  
  details:not([open]) {
    /* Подобрали высоту так, чтобы влезал только summary */
    height: calc(1lh + 40px);
  }
  
  details[open] {
    /* Подобрали высотуу, чтобы контент вместился */
    height: 220px;
}
  
❗Несмотря на то что высота плавно растёт и уменьшается, вложенный контент пропадает и появляется статично: либо есть, либо нет.


2️⃣ трюк

Если контент вообще не будет лежать внутри details, мы можем использовать его как своеобразный переключатель для нашей анимации у соседнего элемента.

.answer {
    /* Назначаем нулевую максимальную высоту */
    max-height: 0;
  
    /* Скрываем переполнение блока */
    overflow: hidden;
    color: #fff;
    background-color: #5f0dee;
  
    /* делаем изменение максимальной высоты плавным */
    transition: max-height 1s linear;
  }
  
  details[open] + .answer {
    /* при открытом details, выбираем сэлемент .answer рядом и меняем его высоту */
    max-height: 220px;
  }
  
  .answer p {
    /* Отсупы приходится указывать вложенным элементам, чтобы устанавливать нулевую высоту */
    padding: 40px 20px;
}
  

Такой подход позволяет более свободно анимировать контент внутри раскрывающегося блока, потому что оставляет элементы на странице даже при закрытом details. Мы просто делаем контент невидимым из-за нулевой высоты родителя. Но этот подход хуже с точки зрения доступности, чем полноценный details.


❗❗❗ общем, анимация выпадающих списков — это своеобразное удовольствие. Мы надеемся, что появятся более удобные способы работать с этим. А если вас попросят «сделать красивые выезжающие выпадашки», засучите рукава перед работой.❗❗❗




1️⃣ 2️⃣ 3️⃣ 4️⃣ 5️⃣ 6️⃣ 7️⃣ 8️⃣ 9️⃣ 🔟 🔢 0️⃣ #️⃣ 🔣 ◀️ ⬇️ ▶️ ⬅️ 🔠 🔡 🔤 ↙️ ↘️ ➡️➡️ ⬆️ ↖️ ↗️ ⏬ ⏫ 🔽 ⤵️ ⤴️ ↩️ ↪️ ↔️ ↕️ 🔼 🔃 🔄 ⏪ ⏩ ℹ️ 🆗 🔀 🔁 🔂 🆕 🔝 🆙 🆒 🆓 🆖 🎦 🈁 📶 🈹 🈴 🈺 🈯 🈷️ 🈶 🈵 🈚 🈸 🈳 🈲 🈂️ 🚻 🚹 🚺 🚼 🚭 🅿️ ♿ 🚇 🛄 🉑 🚾 🚰 🚮 ㊙️ ㊗️ Ⓜ️ 🛂 🛅 🛃 🉐 🆑 🆘 🆔 🚫 🔞 📵 🚯 🚱 🚳 🚷 🚸 ⛔ ✳️ ❇️ ✴️ 💟 🆚 📳 📴 💹 💱 ♈ ♉ ♊ ♋ ♌ ♍ ♎ ♏ ♐ ♑ ♒ ♓ ⛎ 🔯 ❎ 🅰️ 🅱️ 🆎 🅾️ 💠 ♻️ 🔚 🔙 🔛 🔜 🕐 🕜 🕙 🕥 🕚 🕦 🕛 🕧 🕑 🕝 🕒 🕞 🕓 🕟 🕔 🕠 🕕 🕡 🕖 🕢 🕗 🕣 🕘 🕤 💲 ©️ ®️ ™️ ❌ ❗❗ ‼️ ⁉️ ⭕ ✖️ ➕ ➖ ➗ 💮 💯 ✔️ ☑️ 🔘 🔗 ➰ 〰️ 〽️ 🔱 ▪️ ▫️ ◾ ◽ ◼️ ◻️ ⬛ ⬜ ✅ 🔲 🔳 ⚫ ⚪ 🔴 🔵 🔷 🔶 🔹 🔸 🔺 🔻
✏️ Пример написания: