✅
/* Тег <dialog> */

🔶отвечает за всплывающие окна (рекламные баннеры на весь экран, или всплывающие формы подписки и т д)

❗Тег <dialog> не виден по умолчанию, он находится в закрытом состоянии. 

✏️ Пример написания:

разметка всплывающего окна с формой подписки:

<dialog>
    <h2>Подпишитесь на нашу рассылку</h2>
    <form>
        <label for="email">Введите вашу почту</label>
        <input type="email" id="email" placeholder="test@example.com">
        <button type="submit">Подписаться</button>
    </form>
</dialog>

🔴Есть несколько вариантов, чтобы открыть всплывающее окно.

1️⃣.метод. Самый простой — добавить атрибут .open для нашего диалога. 

✏️ Пример написания:

❌❗Но так теряется вся интерактивность. Окно просто открыто и всё.

<dialog open>
<h2>Подпишитесь на нашу рассылку</h2>
<form>
  <label for="email">Введите вашу почту</label>
  <input type="email" id="email" placeholder="test@example.com" />
  <button type="submit">Подписаться</button>
</form>
</dialog>


2️⃣.метод. Открыть его через JavaScript. 
❗Окно откроется, при этом не заблокирует всю страницу для взаимодействия. Это похоже на уведомления о том, что сайт использует Cookies

✏️ Пример написания:

<div>
    <button
    type="button"
    onclick="window['dialog-id'].show();" 
    /* onclick - Отвечает за обработку нажатия на кнопку , Внутри этого атрибута мы находим наше окно по идентификатору и вызываем метод .show(). */
    aria-controls="dialog-id" 
    /* Этот же идентификатор мы указываем в атрибуте aria-controls, чтобы скринридер понял, что кнопка нужна для открытия окна. */
    >
    Открыть окно
    </button>
</div>
<dialog id="dialog-id"> 
    /* Чтобы кнопка заработала, диалогу обязательно нужно задать уникальный идентификатор id и использовать его внутри квадратных скобок в значении атрибута onclick. */
    <h2>Подпишитесь на нашу рассылку</h2>
    <form>
    <label for="email">Введите вашу почту</label>
    <input type="email" id="email" placeholder="test@example.com" />
    <button type="submit">Подписаться</button>
    </form>
</dialog>


3️⃣.метод. Открыть его через JavaScript. 

✏️ Пример написания:

<div>
    <button
    type="button"
    onclick="window['dialog-id'].showModal();" 
    /*  showModal() вместо show() - Когда мы открываем попап таким способом, то всё на заднем фоне становится недоступно.
    При открытии диалога в этом режиме фокус устанавливается на открывшемся окне. Пока модальное окно открыто, клавишей Tab можно перемещаться только по его содержимому. 
    При это страница на заднем фоне становится чуть затемнена ::backdrop*/
    aria-controls="dialog-id"
    >
    Открыть окно
    </button>
</div>
<dialog id="dialog-id">
    <h2>Подпишитесь на нашу рассылку</h2>
    <form>
    <label for="email">Введите вашу почту</label>
    <input type="email" id="email" placeholder="test@example.com" />
    <button type="submit">Подписаться</button>
    </form>
</dialog>

❗затемнение отвечает псевдоэлемент ::backdrop. Мы можем стилизовать этот псевдоэлемент. 

🔴Сделать красивый фильтр можно так: 

✏️ Пример написания:

dialog::backdrop {
    background-color: rgb(0 0 0 / 0.3);
    backdrop-filter: blur(7px);
}


✅
/* Закрытие всплывающего окна <dialog> */

❗По умолчанию попап можно закрыть кнопкой Esc.
❗Попап закрывается по нажатию кнопки отправки формы: <button type="submit">. Если кнопка одна в форме, можно просто написать <button>, без атрибутов. 

🔴Добавить возможность закрыть всплывающее окно можно двумя способами. 

1️⃣.спаособ. 

<dialog id="dialog-id">
  <h2>Подпишитесь на нашу рассылку</h2>
  <form>
    <label for="email">Введите вашу почту</label>
    <input type="email" id="email" placeholder="test@example.com" />
    <button type="submit">Подписаться</button>
        /* Закрывает окно с помощью JavaScript. В onclick, как и раньше, мы указываем идентификатор диалога. */
        <button 
            type="button" 
            onclick="window['dialog-id'].close()"
        >
        Не подписываться
      </button>

2️⃣.спаособ.    
      /*  */
  </form>
    /* Закроет попап через HTML, без использования JavaScript. Обратите внимание, что у тега <form> задан атрибут method="dialog". Это важно, чтобы такой способ сработал. Вложенную в форму кнопку мы оформили с помощью CSS в виде крестика, не забыв вложить скрытую подсказку для скринридера. */
    <form method="dialog">
    <button class="close-button">
            <span class="visually-hidden">Закрыть окно</span>
        </button>
  </form>
  /*  */
</dialog>


✅
/* Настройки резкости открытия и закрытия окна <dialog>  */

❗По умолчанию у диалога установлено свойство display: none
❗Свойство display нельзя анимировать.

1️⃣нужно переопределить стандартные стили.
2️⃣ <dialog> мы сделаем грид-контейнером,
3️⃣ сделаем его невидимым и недоступным для взаимодействия в закрытом состоянии.

✏️ Пример написания:

dialog {
    display: grid;
}

dialog:not([open]) {
  pointer-events: none; /* можно расшифровать так: «если у тега <dialog> нет атрибута open */
  opacity: 0;
} 

❗Пояснения:
Внутри этого правила мы отключаем возможность взаимодействия с элементом с помощью мыши или пальцев (для тачскрина) и делаем элемент прозрачным. Обратите внимание, что с клавиатуры элемент останется доступен. Чистым CSS это не победить.

4️⃣Зададим для диалога фиксированное позиционирование и прижмём ко всем краям экран, что бы  приоткрытии окна, другие элеменнты страницы не дёргались и не меняли своё положение:

✏️ Пример написания:

dialog {
    position: fixed;
    inset: 0;
}

4️⃣Можно красиво анимировать появление и пропадание окна с помощью transition или animation:

✏️ Пример написания:

dialog {
    transition: opacity 0.3s ease-in-out;
}

















1️⃣ 2️⃣ 3️⃣ 4️⃣ 5️⃣ 6️⃣ 7️⃣ 8️⃣ 9️⃣ 🔟 🔢 0️⃣ #️⃣ 🔣 ◀️ ⬇️ ▶️ ⬅️ 🔠 🔡 🔤 ↙️ ↘️ ➡️➡️ ⬆️ ↖️ ↗️ ⏬ ⏫ 🔽 ⤵️ ⤴️ ↩️ ↪️ ↔️ ↕️ 🔼 🔃 🔄 ⏪ ⏩ ℹ️ 🆗 🔀 🔁 🔂 🆕 🔝 🆙 🆒 🆓 🆖 🎦 🈁 📶 🈹 🈴 🈺 🈯 🈷️ 🈶 🈵 🈚 🈸 🈳 🈲 🈂️ 🚻 🚹 🚺 🚼 🚭 🅿️ ♿ 🚇 🛄 🉑 🚾 🚰 🚮 ㊙️ ㊗️ Ⓜ️ 🛂 🛅 🛃 🉐 🆑 🆘 🆔 🚫 🔞 📵 🚯 🚱 🚳 🚷 🚸 ⛔ ✳️ ❇️ ✴️ 💟 🆚 📳 📴 💹 💱 ♈ ♉ ♊ ♋ ♌ ♍ ♎ ♏ ♐ ♑ ♒ ♓ ⛎ 🔯 ❎ 🅰️ 🅱️ 🆎 🅾️ 💠 ♻️ 🔚 🔙 🔛 🔜 🕐 🕜 🕙 🕥 🕚 🕦 🕛 🕧 🕑 🕝 🕒 🕞 🕓 🕟 🕔 🕠 🕕 🕡 🕖 🕢 🕗 🕣 🕘 🕤 💲 ©️ ®️ ™️ ❌ ❗❗ ‼️ ⁉️ ⭕ ✖️ ➕ ➖ ➗ 💮 💯 ✔️ ☑️ 🔘 🔗 ➰ 〰️ 〽️ 🔱 ▪️ ▫️ ◾ ◽ ◼️ ◻️ ⬛ ⬜ ✅ 🔲 🔳 ⚫ ⚪ 🔴 🔵 🔷 🔶 🔹 🔸 🔺 🔻
✏️ Пример написания:


