/* Маркированный список */

<ul>
    <li></li>
    <li></li>
    <li></li>
</ul> 

/* Нумерованный список  */

<ol>
    <li></li>
    <li></li>
    <li></li>
</ol> 



/* СТИЛИЗАЦИЯ */

/* list-style-type: */ - СТИЛИЗАЦИЯ МАКРЕРА

list-style-type для стилизации <li>-элемент <ul>- или <ol>

.circle маркер в виде кружка
.disc маркер в виде точки
.square маркер в виде квадрата
.armenian традиционная армянская нумерация
.decimal арабские числа (1, 2, 3, …)
.decimal-leading-zero арабские числа с нулём впереди для цифр меньше десяти (01, 02, 03, …)
.georgian традиционная грузинская нумерация
.lower-greek строчные греческие буквы (α, β, γ, …)
.lower-alpha строчные латинские буквы (a, b, c, …)
.lower-latin это значение аналогично lower-alpha
.upper-alpha заглавные латинские буквы (A, B, C, …)
.upper-latin это значение аналогично upper-alpha
.lower-roman римские числа в нижнем регистре (i, ii, iii, …)
.upper-roman римские числа в верхнем регистре (I, II, III, …)
.disclosure-open открытый тогглер
.disclosure-closed закрытый тогглер
.none отменяет маркеры для списка
"💎" кастомный маркер — можно задать любой символ или текст (в кавычках)



/* list-style-image: */ - КАРТИНКА ВМЕСТО МАРКЕРА

list-style-image для стилизации <li>-элемент <ul>- или <ol>

Свойство устанавливает картинку в качестве маркера у списка.

ul {
    list-style-image: url("rocket.svg");
  }

  или

li {
    list-style-image: url("rocket.svg");
  }
  

  но в некоторых браузерах (Chrome, Safari) есть поддержка плавной смены картинки с использованием transition.

  li {
    list-style-image: url("marker.png");
    transition: list-style-image 0.3s;
  }
  
  li:hover {
    list-style-image: url("marker_hover.png");
  }
  
  

  /* list-style-position */ - ПОЛОЖЕНИЕ МАРКЕРА СПИСКА ОТСНОСИТЕЛЬНО СПИСКА


list-style-position задаёт положение маркера списка относительно элемента списка.

  .ul {
    list-style-position: inside;
    list-style-type: square;
  }

  или

  .li {
    list-style-position: inside;
    list-style-type: square;
  }
  