В HTML для создания таблиц существует набор семантических тегов:

<table> - тег для создания таблицы. Встречая этот тег в разметке, браузер понимает, что дальше будет таблица.

<tr> - создание строки 
<td> - для создания ячеек
<th> - создание заголовка ячеек


<thead> - отвечает за шапку таблицы. Внутри этого тега могут располагаться одна или более строк с заголовками таблицы.
<tbody> - Этот тег предназначен для основной части таблицы. Внутрь него помещаются строки с данными.
<tfoot> - нужен для строки «Итого» — некой строки с итогом данных таблицы. В таблице может быть только один блок.
<caption> - Если нужно подписать таблицу, дать ей определение, то можно использовать парный тег.


<table>
  <caption>Цены на флагманские модели iPhone и Xiaomi</caption>
  <thead>
    <tr>
      <th>Модель</th>
      <th>Цена</th>
    </tr>
  </thead>
  <tbody>
    <!--  Данные по iPhone  -->
  </tbody>
  <tbody>
    <!-- Данные по Xiaomi -->
  </tbody>
  <tfoot>
    <tr>
      <td>Средняя цена:</td>
      <td>$758.8</td>
    </tr>
  </tfoot>
</table>





/* СТИЛИЗАЦИЯ */

Атрибуты .colspan и .rowspan

Оба атрибута предназначены для объединения ячеек. 

.colspan нужен для объединения ячеек из 2 или более столбцов.
.rowspan для объединения ячеек из 2 или более рядов.

.Пример написания:

<td rowspan="3">iPhone</td>


/* Добавить рамки ячеек */

td, th {
	border: 1px solid #000;
}


/* Убрать растояние между рамками ячеек  */

table {
    border-collapse: collapse;
}


/* Подсветка строк таблицы через одну */

Для этого понадобится всего одно CSS-правило с псевдоклассом :nth-child():

tr:nth-child(odd) {
  background-color: #663613;
}

ограничим область раскрашивания только телом таблицы, исключим шапку и подвал.

tbody tr:nth-child(odd) {
  background-color: #663613;
}


 /* Прилипание заголовка таблицы при прокрутке */

 .position: sticky. Нельзя применить это свойство к тегам <thead> или <tr>, поэтому применим его к <th>.

th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.Не забудьте добавить position: relative для родителя. Заодно подстрахуемся и сделаем прилипающими только заголовки в шапке таблицы.

table {
  position: relative;
}

thead th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
}


/* Фон заголовкам при прокрутке */

.Задайте фон заголовкам, чтобы текст ячеек не был виден при прокрутке. А чтобы избавиться от линий между ячейками, зададим для всей таблицы свойство border-collapse: collapse:

table {
  position: relative;
  border-collapse: collapse;
}

thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #FF8630;
}